.container .footer{
    height: auto;
    width: 100%;
    background-color: #565353;
    padding: 20px 10px;
    display: flex;
    color: white;
    font-size: 26px;
}
.container .footer .left_footer{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* .container .footer .left_footer .social_media{
    background-color: blue; */
/* } */
.container .footer .left_footer .social_media_icon{
    /* background-color: yellow; */
    display: flex;
}
.container .footer .left_footer .social_media_icon div{
    background-color:rgba(255,0,0,0.5) ;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px;
}

.container .footer  .left_footer .social_media_icon  .facebook{
    background-image: url("./images/fb.jpeg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.container .footer .right_footer{
    height: auto;
    width: 50%;
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
